.root {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 30px;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  color: rgb(37, 37, 37);
  font-weight: 500;

  text-decoration: none;

  &:hover {
    color: #acc7f8;
  }
}

.buttons {
width: auto;
  display: flex;
  justify-content: space-between;
    align-items: center;

  a {
    margin-right: 15px;
    text-decoration: none;
  }
  svg {
    margin-left: 10px;
    &:hover {
      color: #acc7f8;
    }
  }
}
